<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Analizador | Up</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <h2>Analizador Up</h2>
        <form method="POST">
            <textarea name="code" rows="10"
                cols="50">{{ request.form.code if request.method == 'POST' else '' }}</textarea><br>
            <input type="submit" value="Analizar">
        </form>
        <div class="result flex-container">
            <div class="AL">
                <h2>Análisis Léxico</h2>
                <table border="1">
                    <tr>
                        <th>Token</th>
                        <th>Palabra reservada</th>
                        <th>Identificador</th>
                        <th>Número</th>
                        <th>Símbolo</th>
                        <th>Paréntesis izquierdo</th>
                        <th>Paréntesis Derecho</th>
                        <th>Llave izquierda</th>
                        <th>Llave Derecha</th>
                    </tr>
                    {% for token in tokens %}
                    <tr>
                        <td>{{ token.value }}</td>
                        <td>{{ 'X' if token.type in ['FOR', 'VAR', 'CONSOLE', 'LOG',
                            'GLOBAL','INT','SYSTEM','PRINTLN','OUT'] else '' }}</td>
                        <td>{{ 'X' if token.type == 'ID' else '' }}</td>
                        <td>{{ 'X' if token.type == 'NUMBER' else '' }}</td>
                        <td>{{ 'X' if token.type in ['PLUS', 'MINUS', 'TIMES', 'DIVIDE', 'ASSIGN', 'LT', 'LE', 'GT',
                            'GE', 'EQ', 'NE', 'DOT', 'SEMICOLON', 'COMMA', 'SINGLE_QUOTE'] else '' }}</td>
                        <td>{{ 'X' if token.type == 'LPAREN' else '' }}</td>
                        <td>{{ 'X' if token.type == 'RPAREN' else '' }}</td>
                        <td>{{ 'X' if token.type == 'LBRACE' else '' }}</td>
                        <td>{{ 'X' if token.type == 'RBRACE' else '' }}</td>
                    </tr>
                    {% endfor %}
                </table>
                <table>
                    <tr>
                        <td>Total</td>
                        <td>{{ counts.reserved }}</td>
                        <td>{{ counts.id }}</td>
                        <td>{{ counts.number }}</td>
                        <td>{{ counts.symbol }}</td>
                        <td>{{ counts.lparen }}</td>
                        <td>{{ counts.rparen }}</td>
                        <td>{{ counts.lbrace }}</td>
                        <td>{{ counts.rbrace }}</td>
                    </tr>
                </table>
            </div>
        </div>
        <center>
            <div class="an-ss">
                <div class="AS">
                    <h2>Análisis Sintáctico</h2>
                    <pre>{{ syntax_result }}</pre>
                </div>
                <div class="AS">
                    <h2>Análisis Semántico</h2>
                    <p>{{ semantic_result }}</p>
                </div>
            </div>
        </center>
    </div>
</body>
</html>